services:
  mysql:
    image: mysql:8
    restart: always
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - '${MYSQL_PORT}:3306'
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost', '-uroot', '-p${MYSQL_ROOT_PASSWORD}']
      interval: 5s
      timeout: 60s
      retries: 12
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - app-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.0
    restart: always
    volumes:
      - es-data:/usr/share/elasticsearch/data
    ports:
      - '9200:9200'
    environment:
      - discovery.type=single-node
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - xpack.security.enabled=false
      - xpack.ml.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:9200 >/dev/null 2>&1']
      interval: 5s
      timeout: 60s
      retries: 12
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', '-q', 'ping']
      interval: 5s
      timeout: 60s
      retries: 12
    networks:
      - app-network

  main:
    build:
      context: .
      dockerfile: Dockerfile.dev
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    env_file:
      - .env
    command: sh -c "npm run start:dev"
    ports:
      - '${PORT}:${PORT}'
    volumes:
      - .:/app
    networks:
      - app-network

  news-worker:
    build:
      context: .
    restart: always
    depends_on:
      elasticsearch:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    env_file:
      - .env
    command: npm run start:worker
    volumes:
      - .:/app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
  es-data:
  rabbitmq-data:
